#newProjDiv {
    text-align: center;
    margin: 20px auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px auto;
}



#legend {
    width: 40%;
    height: 40px;
    line-height: 40px;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end ;
    text-align: left;
}

#span0{
    width: 25%;
    height: 40px;
    /* background-color: rgb(255, 0, 0); */
    text-align: center;
}

#span1 {
    width: 25%;
    height: 40px;
    background-color: rgb(255, 0, 0);
    text-align: center;
}

#span2 {
    width: 25%;
    height: 40px;
    line-height: 40px;
    background-color: rgb(42, 169, 243);
    text-align: center;
}

#span3 {
    width: 25%;
    height: 40px;
    background-color: rgb(6, 185, 6);
    text-align: center;
}

#noProjects {
    display: none;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
}