.bigBox {
    width: auto;
    height:85vmin;
    min-height: 800px;
    border: 2px solid #5f5f5f;
    position: relative;
    display: flex;
}

.boxA {
    width: 300px;
    height: 100%;
    border: 1px solid black;
}

.boxB {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.boxA1 {
    width: auto;
    height: 40%;
    color: white;
    font-size: 24px;
    background-image: url(newproj.png);
    background-color: rgb(190, 190, 190);
    background-image: url(newproj.png);
    background-size: 275px 275px;
    background-repeat: no-repeat;
    background-position:center;
}


.boxA2 {
    width: auto;
    height: 60%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: whitesmoke;
}

.boxB1 {
    width: auto;
    height: 40%;
    background-color: whitesmoke;
}

.boxB2 {
    width: auto;
    height: 60%;
    background-image: radial-gradient(white, rgb(119, 118, 118));
    border-top: 2px solid black;
}

.boxB11 {
    width: 500px;
    height: 200px;
    margin:  auto;
    top: 50px;
    position: relative;
}



#prName {
    font-size: 50px;
    font-family:fantasy;
    text-align: center;
    position: relative;
    top: 30px;
    width: 500px;
    height: 70px;
    overflow:hidden;
}

#prSelect {
    font-size: 30px;
    top: 40px;
    left: 100px;
    position: relative;
    width:300px;
    text-overflow: ellipsis;
}

#addButtonDiv {
    position: relative;
    width: 76px;
    margin: 0px auto;
    margin-top: 54px;
}

#prAdd {
    border-radius: 15px;
    padding: 3px 10px;
    border: 2px solid green;
    box-shadow: 1px 1px deepskyblue;
    font-weight: bold;
    font-size: 25px;
}

.userDataA {
    width: 300px;
    height: 30px;
    margin:2px;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    color: rgb(43, 43, 43);
}

.userDataB {
    width: 280px;
    height: 50px;
    line-height: 50px;
    border:2px solid black;
    border-radius: 15px;
    font-size: 26px;
    font-weight: bold;
    overflow:hidden ;
    text-align: left;
    padding-left: 15px;
}

#projectTable {
    background-color: white;
    position: relative;
    top: 50px;
}